*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: "Montserrat", serif;
    background-color: var(--gial-light);
}

:root{

    --gial-primary:#7c69a4;
    --gial-primary-dark: #4e3969;
    --gial-secondary: #ff9614;
    --gial-light: #f6f5f3;
    --gial-lighter: #ffff;
    --gial-dark: black;
    --gial-fb: #1a77f3;
    --gial-tw: #009eff;
    --gial-ig: #dc43a6;
    --gial-pt: #e62223;
}




img{
  width: 100%;
}

a{
    text-decoration: underline;
    color: var(--gial-lighter);
}
ul,li{
    list-style: none;
    line-height: 1.7rem;
}

.bgc-lighter{
    background-color: var(--gial-lighter);
}

.c-fb{
    color: var(--gial-fb);
}
.c-tw{
    color: var(--gial-tw)
}
.c-ig{
    color: var(--gial-ig);
}
.c-pt{
    color: var(--gial-pt);
}
.c-dk{
    color: var(--gial-dark);
}

.debug{
    *{
        border: 1px dashed black;
    }
}
/* layout */

  .container{
    width: 95%;
    margin: 1rem;
    
  }


  .row{
    display: flex;
    flex-wrap: wrap;
    
  }
  

  .col-1{
    width: calc(100% / 12 * 1);
  }
  
  .col-2{
    width: calc(100% / 12 * 2);
  }
  
  .col-3{
    width: calc(100% / 12 * 3);
  }
  
  .col-4{
    width: calc(100% / 12 * 4);
  }

  
  .col-5{
    width: calc(100% / 12 * 5);
  }
  
  .col-6{
    width: 50%;
  }
  
  .col-7{
    width: calc(100% / 12 * 7);
  }
  
  .col-8{
    width: calc(100% / 12 * 8);
  }
  
  .col-9{
    width: calc(100% / 12 * 9);
  }
  
  .col-10{
    width: calc(100% / 12 * 10);
  }
  
  .col-11{
    width: calc(100% / 12 * 11);
  }
  
  .col-12{
    width: 100%;
  }

  .col-card-img{
    width: 100%;
    }

    .col-card-text{
    width: 100%;
    }

  
  [class^="col"]{
      padding: 0rem, 1rem;
    }


/* #region header */
header{
    display: flex;
    justify-content: center;
    background-color: var(--gial-lighter);
}
.logo{
    font-family: "Nerko One", serif;
    color: var(--gial-secondary);
    text-shadow: 1px 1px grey;
    font-size: 1.5rem;
    padding: 1rem;

}
/* #endregion header */

/* #region tiramisu */

.title_text{
    color: var(--gial-primary-dark);
    margin-bottom: 1rem;
    .title_text_1{
    display: inline-block;
    }
}


.title_text_2{
    display: none;
}

.card-content{
    background-color: var(--gial-lighter);
    box-shadow: -2px 4px 20px 0px #888888;
}
.card-text{
    padding: 1rem;
}

.card-text ul{
    flex-direction: column;

}
/* #endregion tiramisu */


/* #region socials */

.social-list{
    justify-content: space-between;
}

li .social-text{
    display: none;
    color: var(--gial-dark);
}

.social-btn{
    background-color: var(--gial-lighter);
    margin-top: 2rem;
    text-align: center;
    vertical-align: middle;
    padding: 0.20rem 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 8px 3px lightgray;
    span{
        font-size: 10px;
        font-weight: 600;
    }

}

/* #endregion socials */

 .banner-img{    

     display: none;
 }

/* #region post */
 
 .line{
    border: 1px solid var(--gial-secondary);
    width: 65px;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }

 .presentation h2{
    padding-top: 2rem;
    font-weight: 450;
 }

 .post img{
    width: 300px;
    margin-left: 17%;
 }

 .post p{
    line-height: 1.50rem;
 }
/* #endregion post */

/* #region footer */


 footer{
    background-color: var(--gial-primary);
    color: var(--gial-lighter);
    padding: 2rem;

 }


.left-up{
        margin-bottom: 1rem;
        text-align: center;
    }

.left-down{
    text-align: center;
    
    span{
    font-size: 0.80rem;
    }
}

.right ul{
    display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     gap: 0.50rem;
}
/* media queries */

@media screen and (min-width:768px){

.container{
    width: 95%;
    /* max-width: 768px; */
    margin: auto;
    padding: 2rem;

    
  }

  .col-4-md{
    width: calc(100% / 12 * 4);
    
  }

  .col-2-md{
    width: calc(100% / 12 * 2);
  }

    header{
        justify-content: flex-start;
        
    }
    .title_text{
        font-size: 1.5rem;
    }
    
    .title_text_2{
        display: inline-block;
    }

    .card-text ul{
        padding: 2rem;
        flex-direction: row;
   }
    


    .social-btn{
        padding: 0.20rem 2.88rem;
       
    }

    .banner-img{
        height: 84px;
        display: block;
        margin-top: 1rem;
    }

    .post img{
        float: left;
        margin: 0;
    }


}



@media screen and (min-width:992px){

    .container{
        width: 80%;
        margin: auto;
    }

    .row{
        flex-wrap: nowrap;
    }

    .col-12-lg{
        width: 100%;
    }
    .col-8-lg{
      width: calc(100% / 12 * 8);
    }

    .col-4-lg{
     width: calc(100% / 12 * 4);

    }

    .card-text ul{
        flex-direction: column;
    }

    



     li .social-text{
        display: inline-block;

    }
    .social-btn{
        padding: 0 1rem;
    }

    .banner-img{
        height: 126px;
    }

     footer{
        padding: 1rem;
     }
     .foot-content{
    display: flex;
    justify-content: space-between;
    }

    .left-up, .left-down{
        text-align: left;
    }

}